doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "BitTorrent Sync GUI - Options"
        link(rel="stylesheet" href="../css/app.min.css")
    
    body
        section
            h1 BitTorrent Sync Options
            form
                label(for="port") Port #:
                input#port(type="text" name="port" placeholder="8888 (default)")
            button Save
        
        //- Scripts
        script(src="../js/options.min.js")
