doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "BitTorrent Sync GUI - Options"
        link(rel="stylesheet" href="../css/app.min.css")
    
    body
        section
            h1 Options
            form
                label(for="port") Enter the port that BitTorrent Sync runs on:
                input#port(type="text" name="port" placeholder="8888 (default)")
            button#save-button Save
            #message.hide Options updated
        
        //- Scripts
        script(src="../js/options.min.js")
